In [1]:
import pandas as pd

In [2]:
bike21 = pd.read_excel('bikes/Bike_Sales_2021.xlsx')
bike21.head(2)

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2021-01-31,31,January,2021,39,Adults (35-64),M,United States,Washington,Bikes,Road Bikes,"Road-550-W Yellow, 38",30,713,1120,12210,21390,33600
1,2021-02-28,28,February,2021,33,Young Adults (25-34),F,France,Yveline,Bikes,Road Bikes,"Road-150 Red, 48",20,2171,3578,28140,43420,71560

In [3]:
bike22 = pd.read_excel('bikes/Bike_Sales_2022.xlsx')
bike22.head(2)

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2022-02-03,27,February,2022,29,Young Adults (25-34),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Silver, 42",18,1266,2320,18972,22788,41760
1,2022-03-03,31,March,2022,38,Adults (35-64),M,United Kingdom,England,Bikes,Mountain Bikes,"Mountain-200 Silver, 42",16,1266,2320,16864,20256,37120

In [4]:
bike21.shape

(13, 18)

In [5]:
bike22.shape

(5, 18)

In [8]:
merged_bikes = pd.concat([bike21, bike22], ignore_index=True)

In [9]:
merged_bikes.shape

(18, 18)

In [10]:
merged_bikes.head(2)

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2021-01-31,31,January,2021,39,Adults (35-64),M,United States,Washington,Bikes,Road Bikes,"Road-550-W Yellow, 38",30,713,1120,12210,21390,33600
1,2021-02-28,28,February,2021,33,Young Adults (25-34),F,France,Yveline,Bikes,Road Bikes,"Road-150 Red, 48",20,2171,3578,28140,43420,71560

In [11]:
merged_bikes.tail(2)

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
16,2022-05-03,31,May,2022,47,Adults (35-64),M,Australia,South Australia,Bikes,Road Bikes,"Road-550-W Yellow, 44",17,713,1120,6919,12121,19040
17,2022-06-04,30,June,2022,28,Young Adults (25-34),M,United Kingdom,England,Bikes,Mountain Bikes,"Mountain-200 Black, 38",36,1252,2295,37548,45072,82620

In [12]:
# mencari jumlah profit dan cost di sepanjang tahun
merged_bikes['Profit'].sum()

307164

In [13]:
merged_bikes['Revenue'].sum()

755416

In [14]:
merged_bikes.Order_Quantity.mean()

22.0

In [15]:
# tampilkan jumlah transaksi berdasarkan country -> value_counts()

merged_bikes.Country.value_counts()

Australia         6
United States     5
United Kingdom    4
Canada            2
France            1
Name: Country, dtype: int64

In [16]:
# tampilkan jumlah transaksi berdasarkan tahun, bulan, gender, state, product category
merged_bikes.Year.value_counts()

2021    12
2022     6
Name: Year, dtype: int64

In [17]:
merged_bikes.Month.value_counts()

January      2
February     2
March        2
April        2
May          2
June         2
July         1
August       1
September    1
October      1
November     1
December     1
Name: Month, dtype: int64

In [18]:
merged_bikes.columns

Index(['Date', 'Day', 'Month', 'Year', 'Customer_Age', 'Age_Group',
       'Customer_Gender', 'Country', 'State', 'Product_Category',
       'Sub_Category', 'Product', 'Order_Quantity', 'Unit_Cost', 'Unit_Price',
       'Profit', 'Cost', 'Revenue'],
      dtype='object')

In [19]:
merged_bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              18 non-null     datetime64[ns]
 1   Day               18 non-null     int64
 2   Month             18 non-null     object
 3   Year              18 non-null     int64
 4   Customer_Age      18 non-null     int64
 5   Age_Group         18 non-null     object
 6   Customer_Gender   18 non-null     object
 7   Country           18 non-null     object
 8   State             18 non-null     object
 9   Product_Category  18 non-null     object
 10  Sub_Category      18 non-null     object
 11  Product           18 non-null     object
 12  Order_Quantity    18 non-null     int64
 13  Unit_Cost         18 non-null     int64
 14  Unit_Price        18 non-null     int64
 15  Profit            18 non-null     int64
 16  Cost              18 non-null     int64
 17  Revenue           18 non-null     int64
dtypes: datetime64[ns](1), int64(9), object(8)
memory usage: 2.7+ KB

In [20]:
merged_bikes.Customer_Gender.value_counts()

M    11
F     7
Name: Customer_Gender, dtype: int64

In [21]:
merged_bikes.Age_Group.value_counts()

Adults (35-64)          11
Young Adults (25-34)     5
Youth (<25)              2
Name: Age_Group, dtype: int64

In [22]:
merged_bikes.Product.value_counts()

Road-550-W Yellow, 38      2
Road-150 Red, 48           2
Road-750 Black, 44         2
Mountain-200 Black, 38     2
Road-750 Black, 48         2
Mountain-200 Silver, 42    2
Road-250 Red, 44           1
Mountain-200 Black, 46     1
Road-550-W Yellow, 40      1
Road-250 Red, 58           1
Road-550-W Yellow, 48      1
Road-550-W Yellow, 44      1
Name: Product, dtype: int64

In [23]:
merged_bikes.Sub_Category.value_counts()

Road Bikes        13
Mountain Bikes     5
Name: Sub_Category, dtype: int64

## Data Prep

In [24]:
df = pd.read_excel('bikes/Bike_Sales_Prepare_Lab_3.4.7.xlsx')
df.head(2)

,Sales_Order #,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product_Description,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,261695,2021-12-01,1.0,December,2021,39,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",4.0,1252,2295,4172,5008,9180
1,261695,2021-12-01,1.0,December,2021,44,Adults (35-64),M,United Kingdom,England,Bikes,Mountain Bikes,"Mountain-200 Silver, 42",1.0,1266,2320,1054,1266,2320

In [26]:
df.shape

(93, 19)

In [25]:
# 1. apakah data punya duplikat 

df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
88    False
89     True
90     True
91     True
92     True
Length: 93, dtype: bool

In [28]:
# cek jumlah data yang duplikat 
df.duplicated().sum()

4

In [30]:
df = df.drop_duplicates()

In [31]:
df.shape

(89, 19)

In [32]:
# check NaN : Empty cell 

df.isna()

,Sales_Order #,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product_Description,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
85,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
86,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
87,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
88,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [33]:
df.isna().sum()

Sales_Order #          0
Date                   0
Day                    1
Month                  0
Year                   0
Customer_Age           0
Age_Group              1
Customer_Gender        0
Country                0
State                  0
Product_Category       0
Sub_Category           0
Product_Description    1
Order_Quantity         1
 Unit_Cost             0
 Unit_Price            0
 Profit                0
 Cost                  0
Revenue                0
dtype: int64

In [35]:
df = df.dropna()

In [36]:
df.shape

(85, 19)

In [37]:
df.isna().sum()

Sales_Order #          0
Date                   0
Day                    0
Month                  0
Year                   0
Customer_Age           0
Age_Group              0
Customer_Gender        0
Country                0
State                  0
Product_Category       0
Sub_Category           0
Product_Description    0
Order_Quantity         0
 Unit_Cost             0
 Unit_Price            0
 Profit                0
 Cost                  0
Revenue                0
dtype: int64

In [38]:
# 3. data tidak konsisten 
df['Country'].value_counts()

United States     28
Australia         26
United Kingdom     9
France             8
Canada             6
Germany            5
 United States     1
United  States     1
United States      1
Name: Country, dtype: int64

In [41]:
# menghapus while space 
df.Country = df.Country.str.strip()
df['Country'].value_counts()

United States     30
Australia         26
United Kingdom     9
France             8
Canada             6
Germany            5
United  States     1
Name: Country, dtype: int64

In [42]:
df.Country = df.Country.str.replace('  ', ' ')
df.Country.value_counts()

United States     31
Australia         26
United Kingdom     9
France             8
Canada             6
Germany            5
Name: Country, dtype: int64

In [43]:
df.head()

,Sales_Order #,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product_Description,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,261695,2021-12-01,1.0,December,2021,39,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",4.0,1252,2295,4172,5008,9180
1,261695,2021-12-01,1.0,December,2021,44,Adults (35-64),M,United Kingdom,England,Bikes,Mountain Bikes,"Mountain-200 Silver, 42",1.0,1266,2320,1054,1266,2320
2,261697,2021-12-02,2.0,December,2021,37,Adults (35-64),M,United States,California,Bikes,Mountain Bikes,"Mountain-400-W Silver, 46",2.0,420,769,698,840,1538
3,261698,2021-12-02,2.0,December,2021,31,Young Adults (25-34),F,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-400-W Silver, 42",1.0,420,769,349,420,769
4,261699,2021-12-03,3.0,December,2021,37,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",2.0,0,2295,2086,0,4590

In [44]:
df.to_csv('cleandata.csv', index=False)

In [45]:
newdf = pd.read_csv('cleandata.csv')

In [46]:
newdf.Country.value_counts()

United States     31
Australia         26
United Kingdom     9
France             8
Canada             6
Germany            5
Name: Country, dtype: int64

In [47]:
df.head()

,Sales_Order #,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product_Description,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,261695,2021-12-01,1.0,December,2021,39,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",4.0,1252,2295,4172,5008,9180
1,261695,2021-12-01,1.0,December,2021,44,Adults (35-64),M,United Kingdom,England,Bikes,Mountain Bikes,"Mountain-200 Silver, 42",1.0,1266,2320,1054,1266,2320
2,261697,2021-12-02,2.0,December,2021,37,Adults (35-64),M,United States,California,Bikes,Mountain Bikes,"Mountain-400-W Silver, 46",2.0,420,769,698,840,1538
3,261698,2021-12-02,2.0,December,2021,31,Young Adults (25-34),F,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-400-W Silver, 42",1.0,420,769,349,420,769
4,261699,2021-12-03,3.0,December,2021,37,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",2.0,0,2295,2086,0,4590

In [50]:
df.Age_Group.value_counts()

Adults (35-64)          44
Young Adults (25-34)    31
Youth (<25)             10
Name: Age_Group, dtype: int64

In [49]:
df['Age_Group'].value_counts()

Adults (35-64)          44
Young Adults (25-34)    31
Youth (<25)             10
Name: Age_Group, dtype: int64